* {
    padding:0;
    margin:0;
    border:0;
    list-style:none;
}

.wrap {
    position:relative;
    width: 100%;
    height:100%;
    background-color:#313234;
}

.top .chip {
    position:absolute;
    left:135px;
    top:5;
}

.top .dia {
    position:absolute;
    left:5px;
    top:8px;
}

.contents {
    position:relative;
    width:100%;
}

h2 {
    position:absolute;
    top:55px;
    left:45px;
    color:white;
}

.contents .shop{
    position: absolute;
    top: 45px;
    left: 10px;
}

.contents .profile {
    position:absolute;
    top:120px;
    left:10px;
}

.contents .level {
    position:absolute;
    top:120px;
    left:10px;
}

.contents .game {
    position:absolute;
    top:120px;
    left:80px;
    border:none;
}

h3 {
    position:absolute;
    top:100px;
    width:85px;
    height:20px;
    text-align:center;
    left:10px;
    color:white;
}

.contents .what {
    position:absolute;
    top:210px;
    height:35px;
    width:85px;
    text-align:center;
    left:10px;
    color:white;
    font-size:14px;
}

.contents .what span {
    color:#73abc2;
}

.contents .check {
    position:absolute;
    top:250px;
    left:10px;
    color:white;
    font-size:14px;
}

.contents em {
    font-style:normal;
    color:red;
}

.contents .free {
    position:absolute;
    top:315px;
    left:10px;
}

.list {
    position:absolute;
    top:60px;
    left:130px;
    right:10px;
    height: 280px;
}

.list .weekly {
    position:absolute;
    top:2px;
}

.list .total {
    position:absolute;
    top:3px;
    left:75px;
    right:80px;
}


.list .topuser {
    position:absolute;
    top:23px;
    left:0;
    right:0;
    background:#0e5b79;
    height:35px;
}

.topuser span {
    color:white;
    font-size:15px;
}

.topuser .number {
    color:#ffff00;
}


.topuser em {
    color:#e3a80e;
}

.topuser button {
    position:absolute;
    top:11px;
    right:10px;
    width:45px;
    height:15px;
    background-color:#fece00;
    border-radius:5px;
}

.rankinglist {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 100%;
}

.rankinglist li {
    position:relative;
    height: 30px;
}

.rankinglist .nick {
    position:absolute;
    top:0;
    margin-left:30px;
}

.rankinglist strong {
    color:white;
    font-size:14px;
}

.rankinglist span {
    color:#81cbe6;
    font-size:10px;
}

.rankinglist .cash {
    position:absolute;
    top:0;
    right: 80px;
}

.rankinglist button {
    position:absolute;
    top:5px;
    right: 10px;
}

.rankinglist .onebtn {
    position:absolute;
    margin-left:163px;
}

.rankinglist .nickname {
    position:absolute;
    top:0px;
    margin-left:30px;
}

.rankinglist .name {
    position:absolute;
    top:0px;
    margin-left:26px;
}

.rankinglist .present {
    position:absolute;
    top:0px;
    padding-left:140px;
}

.rankinglist .onestar {
    position:absolute;
    top:0px;
    padding-left:136px;
}

.button {
    position:relative;
}

.button li:nth-child(1) {
    position:absolute;
    top:360px;
    left:10px;
}

.button li:nth-child(2) {
    position:absolute;
    top:360px;
    left:140px;
}

.button li:nth-child(3) {
    position:absolute;
    top:360px;
    left:270px;
}

.button li:nth-child(4) {
    position:absolute;
    top:460px;
    left:10px;
}

.button li:nth-child(5) {
    position:absolute;
    top:460px;
    left:140px;
}

.button li:nth-child(6) {
    position:absolute;
    top:460px;
    left:270px;
}

